.News {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
*::-webkit-scrollbar {
    display: none;
}
.hello_screen{
    position: relative;
    max-width:75%;
    margin:auto;
    text-align:center;
    padding:25px 20px;
}

.title{
    font-size:69px;
    font-weight:600;
    margin-bottom:20px;
}

.subtitle{
    font-size:30px;
    font-weight: 600;
    margin-top: 44px;
    margin-bottom:20px;
}

.gradient-text{
    background: linear-gradient(90deg, #7B2FFF, #D0B8FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vector1{
    position: absolute;
    top: 10%;
    right: -1%;
    z-index: -1;
}

.vector2{
    position: absolute;
    top: 14%;
    right: 41%;
    z-index: -1;
}

.vector3{
    position: absolute;
    top: 2%;
    right: 113%;
    z-index: -1;
}

.vector4{
    position: absolute;
    top: 1%;
    right: -19%;
    z-index: -1;
}

.vector5{
    position: absolute;
    top: 9%;
    right: 97%;
    z-index: -1;
}
.vector1,.vector2,.vector3,.vector4,.vector5{
    transform: scale(0.5);
}
.news{
    display:grid;
    grid-template-columns: repeat(4, 260px);
    justify-content:center;
    gap:30px;
}

.new{
    height:100%;
    width: 100%;
    border-radius:25px;
    overflow:hidden;
    position:relative;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}

.new img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.controls{
    position: relative;
    max-width:75%;
    margin:0 auto;
    text-align:center;
    padding:25px 0px;
    width: 100%;
    box-sizing: border-box;
}

.controls i{
    color:#2d2d2d;
}

.find-line{
    padding-left: 15px;
    padding-right: 15px;
    height: 43px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 25px;
    background-color: #ffffff;
    gap: 12px;
    flex: 1 1 300px;
}


#search_apple_items{
    border:none;
    background:transparent;
    font-family:'Rubik';
    font-size:18px;
    outline:none;
    width: -webkit-fill-available;
}

.selectors{
    display: flex;
    gap:16px;
}

.selection{
    position: relative;
    margin-top: 20px;
    height: 35px;
    display: inline-grid;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    background-color: #ffffff;
    padding-right: 12px;
    padding-left: 12px;
    width:auto;
}

.dropdown{
    position:relative;
    cursor:pointer;
}

.dropdown-menu{
    position:absolute;
    top:40px;
    left:0;
    width:auto;
    background:#ffffff;
    border-radius:15px;
    display:flex;
    flex-direction:column;
}

.dropdown-menu div{
    padding:10px 15px;
}

.dropdown-menu div:hover{
    background:#E9E9E9;
    border-radius: 15px;
}

.products{
    max-width: 75%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
    gap:30px;
}

.cart{
    background:#ffffff;
    border-radius:23px;
    padding:20px;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.cart img{
    width:200px;
    height:200px;
    margin-bottom:15px;
}

.name{
    font-family:'Rubik';
    font-size:22px;
    font-weight:500;
    margin-bottom:10px;
}

.nalichie{
    font-family:'Rubik';
    font-size:15px;
    color:#454545;
}

.nalichie span{
    color:#000;
    font-weight:500;
}

.cost{
    font-family:'Rubik';
    font-size:15px;
    color:#454545;
    margin-bottom:15px;
}

.cost span{
    color:#000;
    font-weight:500;
}

.buttons{
    display: flex;
    column-gap: 61%;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.button-s{
    border:none;
    background:#E9E9E9;
    border-radius:200px;

    padding:8px 20px;
    font-family:'Rubik';
    font-size:14px;
    cursor:pointer;

    transition:0.2s;
}

.button-s:hover{
    background:rgb(207, 207, 207);
}